<center>
  <h1>Burger Machines!</h1>
</center>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div id="burgers" style="float: left">

        <h2>Burgers ready to be nommed!</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{else}}
          <ul>
          {{burger_name}}
          <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">DEVOUR!
          </button>
          </ul>
          {{/if}}
          {{/each}}
        </ul>

      </div>
    </div>
    <div class="col-sm">
      <div id="eatenBurgers" style="float: left;">

        <h2>Nommed up burgers!</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <ul>
            {{burger_name}}
          </ul>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div id="addBurger">
        <center>
          <h2>Add a Burger</h2>
          <form class="create-form">

            <div class="form-group">
              <label for="burger_name">Burger Name:</label>
              <input type="text" id="newBurger" name="newBurger">
            </div>

            <button type="submit">Add Burger</button>
          </form>
        </center>
      </div>
    </div>
  </div>